<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add  key="administerConn"  value="Server=117.78.34.163,8635; database=dbProcess; uid=rdsuser; pwd=LjjLy_0413"/>
    <add  key="userConn"   value="Server=117.78.34.163,8635; database=dbProcess; uid=rdsuser; pwd=LjjLy_0413"/>
    <add  key="expertConn"   value="Server=117.78.34.163,8635; database=dbProcess; uid=rdsuser; pwd=LjjLy_0413"/>
    <add  key="other"   value="Server=117.78.34.163,8635; database=dbProcess; uid=rdsuser; pwd=LjjLy_0413"/>
  </appSettings>
</configuration>



